@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis tellus et sem pretium lacinia. Aliquam eget congue nulla. Curabitur at urna dolor. Pellentesque vitae purus elementum erat vulputate sollicitudin. Mauris ante velit, faucibus et ultricies at, commodo at ante. Nulla porttitor ultricies mi, sit amet mattis eros auctor et. Fusce hendrerit dictum enim. Sed eget dolor in nunc convallis volutpat vel eu dolor. Donec metus risus, lacinia vel lacinia at, aliquet non risus. Ut et ultricies nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum dignissim turpis orci, vitae scelerisque elit maximus quis. Ut tempus tortor a diam tincidunt elementum. Fusce sed tincidunt neque.

    Cras sed sem pellentesque, luctus eros id, blandit purus. Nulla quam sapien, scelerisque ullamcorper interdum non, congue dapibus ex. Maecenas mattis leo et arcu finibus, nec suscipit lorem ultricies. Fusce a ex sapien. Curabitur iaculis velit quis lacus varius, nec fermentum purus dignissim. Vestibulum porttitor velit neque. Nulla blandit ac leo non cursus. Maecenas tellus libero, tincidunt sit amet feugiat pharetra, commodo sit amet neque. Curabitur justo mi, varius in bibendum quis, ullamcorper non massa. Maecenas nisl urna, tincidunt at nulla et, vulputate posuere metus.

    Nulla luctus, enim sed facilisis convallis, lorem justo sagittis felis, id luctus quam ligula vel felis. Phasellus venenatis dictum libero ut feugiat. Nulla accumsan nunc mauris. Cras aliquam, sapien quis gravida scelerisque, turpis odio pretium sapien, ac gravida erat mi a erat. Sed nec mauris eget nulla tincidunt porta eget et odio. In ligula nibh, pulvinar vel eros eu, aliquet consectetur ligula. Phasellus id turpis vitae sem gravida pharetra non luctus mi. Cras in laoreet diam. Pellentesque quis lobortis risus, sit amet rutrum velit. Duis euismod odio ipsum, varius ultrices leo rhoncus vitae. Nulla id nisl mattis lacus lobortis accumsan. Maecenas libero eros, efficitur ac quam aliquet, facilisis blandit risus.

    Sed suscipit et magna sed pharetra. Vestibulum dui lacus, cursus in enim eget, tristique congue odio. Aliquam et odio vel neque interdum imperdiet. Proin eget dictum metus. Suspendisse ultrices blandit malesuada. Vestibulum ultricies sit amet justo eget pulvinar. Maecenas aliquet elit at consequat suscipit. Vivamus diam mi, lobortis sed scelerisque id, suscipit a ligula. Curabitur rhoncus, orci nec viverra rutrum, lacus diam mattis enim, a accumsan felis diam quis ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

    Nullam vitae massa id urna facilisis lobortis. Aliquam viverra tellus eu ligula bibendum, sed rutrum lacus pellentesque. Duis eu lacus eget massa aliquam pulvinar in in eros. Nullam varius pellentesque metus vel hendrerit. Quisque accumsan velit id nisi luctus dignissim. Pellentesque nec dolor ac turpis rhoncus semper eget quis quam. Aenean et fringilla tortor. Donec sagittis elit neque, nec ultrices risus mollis sit amet. Integer malesuada erat mauris. Morbi sagittis aliquet scelerisque. Praesent in est mi. </p>
